@page
@model WebApplication3.Pages.Humidification.CreateModel
@{
    <h2>Изменить статус единой системы увлажнения</h2>
    <form method="post">
        <p>
            <label>Статус:</label><br />
            <input name="state" type="number" />
        </p>
        <input type="submit" value="Отправить" />
    </form>
}
