@page
@model WebApplication3.Pages.Window_Opening_Drive.CreateModel
@{
    <h2>Статус автоматизированного привода удаленного открытия форточек теплицы </h2>
    <form method="post">
                    <p>
                        <label>Статус:</label><br />
                        <input name="state" type="number" />
                    </p>
                    <input type="submit" value="Отправить" />
    </form>
}
